@media (prefers-color-scheme: light) {
  a:hover {
    color: #61dafb;
  }
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h3 {
  color: #61dafb;
  text-transform: uppercase;
  font-family: cursive;
  font: bold; 
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin: 2rem auto;
}

.settings {
  display: inline;
  justify-content: left;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url('../assets/settings.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.settings:hover {
  opacity: 50%;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  & > button {
    font-size: 1rem;
    font-family: cursive;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgb(54, 53, 53);
    color: white;
    cursor: pointer;
    outline: none;

    width: 3rem;
    margin: 0 a;
  }

  & > label {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
}

a {
  font-size: 0.5rem;
  margin: 0.5rem;
  color: #cccccc;
  text-decoration: none;
}
